<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXApplication1.Properties.Settings.conect" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLDSSV;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>